# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs and secrets
.env
*.env
venv/
.venv/

# Data
data/raw/*.csv
!data/raw/sample_*.csv
data/processed/*.csv

# IDE
.vscode/
.idea/

# Logs
logs/
airflow/logs/

# Images
docs/*.png
